<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Brazing_Serial.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Brazing_Serial.Properties.Settings>
            <setting name="IP" serializeAs="String">
                <value>192.168.100.100</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>9004</value>
            </setting>
            <setting name="Query" serializeAs="String">
                <value>SELECT count(Part_Serial_No) PartSerialNo
  FROM [dbIoT].[dbo].[L8_Top_Bot_Welding]
  where Date_insert between @ST and @ED</value>
            </setting>
            <setting name="Line" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="topbot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>10.194.122.103</value>
            </setting>
            <setting name="DB" serializeAs="String">
                <value>dbIoT</value>
            </setting>
        </Brazing_Serial.Properties.Settings>
    </userSettings>
</configuration>